<app-nav></app-nav>
<section class="container card mt-5">
  <h1 class="text-center">Edition de {{pokemon.name}}</h1>

  <div class="row">

    <div class="col-md-4">
      <img [src]="pokemon.picture" alt="" style="width:350px;">
    </div>

    <div class="col-md-8">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="pokemon.name" #name="ngModel"
              name="name">
          </div>
          <div class="form-group">
            <label for="name">photo</label>
            <input type="text" class="form-control" id="picture" required [(ngModel)]="pokemon.picture" #name="ngModel"
              name="picture">
          </div>
          <div class="form-group">
            <label for="name">Point de vie</label>
            <input type="text" class="form-control" id="hp" required [(ngModel)]="pokemon.hp" #name="ngModel" name="hp">
          </div>
          <div class="form-group">
            <label for="name">Dégat</label>
            <input type="text" class="form-control" id="cp" required [(ngModel)]="pokemon.cp" #name="ngModel" name="cp">
          </div>
          <div class="form-group">
            <label for="name">Date</label>
            <input type="text" class="form-control" id="created" required
              [(ngModel)]="pokemon.created " #name="ngModel" name="created">
          </div>
          <div class="section center">
            <button class="btn btn-primary" type="submit" >
              Validez
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</section>
